version: '3.8'
services:
  mariadb:
    image: mariadb:11
    container_name: planner-mariadb
    environment:
      MARIADB_ROOT_PASSWORD: "1104"
      MARIADB_DATABASE: travel
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: planner-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  mongodb:
    image: mongo:7
    container_name: planner-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

volumes:
  mariadb_data:
  redis_data:
  mongodb_data: